.ant-radio-button-wrapper-checked {
  background: #516EFC;
  border-color: #1890ff;
  color: #ffffff;
  -webkit-box-shadow: -1px 0 0 0 #1890ff;
  box-shadow: -1px 0 0 0 #1890ff;
  z-index: 1;
}

//.ant-layout-content {
//  overflow: hidden;
//}
.ant-radio-button-wrapper-checked:first-child {
  border-color: #516efc;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.ant-radio-button-wrapper:hover, ant-radio-button-wrapper-focused {
  background: #aaaaaa;
  color: #666666;
}
ant-fullcalendar-fullscreen .ant-fullcalendar-month, .ant-fullcalendar-fullscreen .ant-fullcalendar-date {
  text-align: left;
  margin: 0 4px;
  display: block;
  color: rgba(0, 0, 0, 0.65);
  height: 6px;
  padding: 4px 8px;
   border-top: 0px solid #e8e8e8;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}