.ant-modal-mask {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color:rgba(55,55,55,.1);
  height: 100%;
  z-index: 1000;
  filter: alpha(opacity=50);
}
.ant-modal-header {
  background-color: rgba(24, 144, 255, 1);
}
.ant-modal-title {
  margin: 0;
  font-size: 14px;
  line-height: 2px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.85);
  font-weight: 500;
}
.ant-modal-close-x {
  display: block;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  text-rendering: auto;
  color: #d1e9ff;
  line-height: 20px;
  font-size: 14px;
  width: 20px;
  height: 20px;
  border-radius:20px 20px 20px 20px;
  background-color: #2eabff;
  margin-top: 6px;
  margin-right: 3px;
}